#pytorch==0.1.12
jupyter
fabric
pyOpenSSL==16.2.0
psycopg2==2.6.1
SQLAlchemy==1.1.0b3
cherrypy==8.1.2
bottle==0.12.10
boto==2.43.0
requests
nltk==3.2.3
keras==1.1.0
pyhocon
line_profiler
pytest
tqdm
faulthandler
python-Levenshtein
gitpython
futures
jsonpickle
prettytable
tensorboard_logger
click
annoy
pympler
